{{> header}}
<h1 class="display-3">Listado de clientes: </h1>
<div class="container">
    <table class="table table-bordered border-warning">
        <thead>
            <th>ID del Cliente</th>
            <th>Nombre Completo</th>
            <th>DNI</th>
            <th>Opciones</th>
        </thead>
        <tbody>
            {{#each list}}
            <tr>
                <td>{{this.clienteID}}</td>
                <td>{{this.nombre}}</td>
                <td>{{this.dni}}</td>
                <td>
                    <a href="/clientes/{{this._id}}" class="btn btn-info">Actualizar</a>
                    <a href="/clientes/delete/{{this._id}}" class="btn btn-danger"
                    onclick="return confirm('Estas seguro de eliminar?');">
                    Eliminar</a>

                </td>

            </tr>
            {{/each}}
        </tbody>
    </table>
</div>