{{> header}}
<h1 class="display-3">Listado de cuentas de clientes: </h1>
<div class="container">
    <table class="table table-bordered border-warning">
        <thead>
            <th>ID del Cliente</th>
            <th>Numero de cuenta</th>
            <th>Saldo</th>
            <th>Opciones</th>
        </thead>
        <tbody>
            {{#each list}}
            <tr>
                <td>{{this.clienteID}}</td>
                <td>{{this.numeroCuenta}}</td>
                <td>{{this.saldo}}</td>
                <td>
                    <a href="/student/{{this._id}}" class="btn btn-info">Actualizar</a>
                    <a href="/student/delete/{{this._id}}" class="btn btn-danger"
                    onclick="return confirm('Would you like to delete this record?');">
                    Eliminar</a>

                </td>

            </tr>
            {{/each}}
        </tbody>
    </table>
</div>