{{> header}}
<h1 class="display-3">Listado de prestamos realizados: </h1>
<div class="container">
    <table class="table table-bordered border-warning">
        <thead>
            <th>ID del Cliente</th>
            <th>Cantidad de dinero</th>
            <th>Plazo del prestamo</th>
            <th>Fecha de comienzo</th>
            <th>Opciones</th>
        </thead>
        <tbody>
            {{#each list}}
            <tr>
                <td>{{this.clienteID}}</td>
                <td>{{this.cantidad}}</td>
                <td>{{this.plazo}}</td>
                <td>{{this.fechaComienzo}}</td>
                <td>
                    <a href="/prestamos/{{this._id}}" class="btn btn-info">Actualizar</a>
                    <a href="/prestamos/delete/{{this._id}}" class="btn btn-danger"
                    onclick="return confirm('Esta seguro de eliminar?');">
                    Eliminar</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>